.footerWrapper {
	display: flex;
	margin: 80px auto 0 auto;
	justify-content: space-between;
}

.menuItem {
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-bottom: 50px;
}

.menuItem a {
	color: gray;
	text-decoration: none;
}
