.sectionWrapper {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 200px;
}

.textWrapper {
	width: calc(35px + 40px + 535px);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.stepNumberStyle {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	margin-right: 40px;
}
